.main{
  width: 94%;   
  margin-left: 30px;
  margin-top: 10px;
}
.content { width:100%;margin:10px 0; }

.menu { 
	background:url(./images/menu_bg.gif); 
	line-height:40px; 
	height:40px; 
	font-size:16px; 
	color:#fff; 
	padding:0 20px; 
}

.optitle { padding:10px 0; border-bottom:2px solid #666666; }
.optitle .title { line-height:30px; font-size:24px; font-weight:bold; color:#666666; }
.optitle span { float:right; }

.operation span{margin-left:5px; }
/* 各个子页面的展示内容 */
.updatePassword{ margin:30px 30px 10px 0px}

