<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>travel</display-name>
  <welcome-file-list>
    <!-- <welcome-file>login.jsp</welcome-file> -->
    <web:welcome-file>fore_index.jsp</web:welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>servlet.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserView</display-name>
    <servlet-name>UserView</servlet-name>
    <servlet-class>servlet.UserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserView</servlet-name>
    <url-pattern>/UserView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPass</display-name>
    <servlet-name>UserPass</servlet-name>
    <servlet-class>servlet.UserPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPass</servlet-name>
    <url-pattern>/UserPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindByName</display-name>
    <servlet-name>UserFindByName</servlet-name>
    <servlet-class>servlet.UserFindByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindByName</servlet-name>
    <url-pattern>/UserFindByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserPass</display-name>
    <servlet-name>UpdateUserPass</servlet-name>
    <servlet-class>servlet.UpdateUserPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPass</servlet-name>
    <url-pattern>/UpdateUserPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentAdd</display-name>
    <servlet-name>ContentAdd</servlet-name>
    <servlet-class>servlet.ContentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentAdd</servlet-name>
    <url-pattern>/ContentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentUpdate</display-name>
    <servlet-name>ContentUpdate</servlet-name>
    <servlet-class>servlet.ContentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentUpdate</servlet-name>
    <url-pattern>/ContentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentView</display-name>
    <servlet-name>ContentView</servlet-name>
    <servlet-class>servlet.ContentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentView</servlet-name>
    <url-pattern>/ContentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentDelete</display-name>
    <servlet-name>ContentDelete</servlet-name>
    <servlet-class>servlet.ContentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentDelete</servlet-name>
    <url-pattern>/ContentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentSearch</display-name>
    <servlet-name>ContentSearch</servlet-name>
    <servlet-class>servlet.ContentSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentSearch</servlet-name>
    <url-pattern>/ContentSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentSearchFore</display-name>
    <servlet-name>ContentSearchFore</servlet-name>
    <servlet-class>servlet.ContentSearchFore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentSearchFore</servlet-name>
    <url-pattern>/ContentSearchFore</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findHotWay</display-name>
    <servlet-name>findHotWay</servlet-name>
    <servlet-class>servlet.findHotWay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findHotWay</servlet-name>
    <url-pattern>/findHotWay</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>findSummer</display-name>
    <servlet-name>findSummer</servlet-name>
    <servlet-class>servlet.findSummer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findSummer</servlet-name>
    <url-pattern>/findSummer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findWinner</display-name>
    <servlet-name>findWinner</servlet-name>
    <servlet-class>servlet.findWinner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findWinner</servlet-name>
    <url-pattern>/findWinner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findGraduate</display-name>
    <servlet-name>findGraduate</servlet-name>
    <servlet-class>servlet.findGraduate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findGraduate</servlet-name>
    <url-pattern>/findGraduate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ContentDetailGo</display-name>
    <servlet-name>ContentDetailGo</servlet-name>
    <servlet-class>servlet.ContentDetailGo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentDetailGo</servlet-name>
    <url-pattern>/ContentDetailGo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserLoginFore</display-name>
    <servlet-name>UserLoginFore</servlet-name>
    <servlet-class>servlet.UserLoginFore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginFore</servlet-name>
    <url-pattern>/UserLoginFore</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserRegisterFore</display-name>
    <servlet-name>UserRegisterFore</servlet-name>
    <servlet-class>servlet.UserRegisterFore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterFore</servlet-name>
    <url-pattern>/UserRegisterFore</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ConsultAddQuestion</display-name>
    <servlet-name>ConsultAddQuestion</servlet-name>
    <servlet-class>servlet.ConsultAddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultAddQuestion</servlet-name>
    <url-pattern>/ConsultAddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultView</display-name>
    <servlet-name>ConsultView</servlet-name>
    <servlet-class>servlet.ConsultView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultView</servlet-name>
    <url-pattern>/ConsultView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultAnswer</display-name>
    <servlet-name>ConsultAnswer</servlet-name>
    <servlet-class>servlet.ConsultAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultAnswer</servlet-name>
    <url-pattern>/ConsultAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultDelete</display-name>
    <servlet-name>ConsultDelete</servlet-name>
    <servlet-class>servlet.ConsultDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultDelete</servlet-name>
    <url-pattern>/ConsultDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultSearch</display-name>
    <servlet-name>ConsultSearch</servlet-name>
    <servlet-class>servlet.ConsultSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultSearch</servlet-name>
    <url-pattern>/ConsultSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultSearchFore</display-name>
    <servlet-name>ConsultSearchFore</servlet-name>
    <servlet-class>servlet.ConsultSearchFore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultSearchFore</servlet-name>
    <url-pattern>/ConsultSearchFore</url-pattern>
  </servlet-mapping>
  
</web-app>